<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen p-2">
    <h1 class="text-2xl p-2 font-semibold">Canteen Management</h1>

    <ol class="p-2">
        <li>• <a href="" class="hover:underline text-blue-700 hover:text-blue-800">Manage Canteen Manager</a></li>
        <li>• <a href="" class="hover:underline text-blue-700 hover:text-blue-800">Manage Supervising Teachers</a></li>
        <li>• <a href="" class="hover:underline text-blue-700 hover:text-blue-800">Manage Students</a></li>
        <li>• <a href="" class="hover:underline text-blue-700 hover:text-blue-800">Manage Food</a></li>
    </ol>

</body>

</html>